<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MinEdit</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div id="cmd-container" v-on="click: focusTextbox">
        <div v-if="isRunningApp">
            <div v-view="shellStatus.app.name" v-with="shellStatus"></div>
        </div>
        <cmd-shell v-if="!isRunningApp"></cmd-shell>
    </div>

    <script type="text/html" id="file-editor-template">
        <div class="cmd-editor-container">
            <div class="cmd-editor">
                <autosize-textarea v-with="val: fileContent" v-on="keydown: exit | key esc,
                                                                   keydown: detectSpecialInput"></autosize-textarea>
            </div>
        </div>
    </script>

    <script type="text/html" id="cmd-shell-template">
        <div class="cmd-container">
            <div class="cmd-lines">
<div v-repeat="line: shellLines"><div class="cmd-line" v-style="color: line.color">{{line.value}}</div></div>
            </div>
            <div class="cmd-prompt" v-class="processing: shellStatus.running">
                <autosize-textarea v-on="keydown: feedLine | key enter,
                                     keydown: autoComplete | key tab,
                                     keydown: cancelCommand | key esc,
                                     keydown: historyUp | key up,
                                     keydown: historyDown | key down"
                                   v-with="val: currentCommand"></autosize-textarea>
            </div>
        </div>
    </script>

    <script src="https://apis.google.com/js/client.js?onload=gdriveready"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/plite.js"></script>
    <script src="js/gdrive.js"></script>
    <script src="js/shell.js"></script>
    <script src="js/gdriveshell.js"></script>
    <script src="js/views.js"></script>
</body>
</html>
