<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MinEdit</title>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body>
    <div id="cmd-container" v-on="click: focusCmd">
        <cmd-file v-if="appData.file != null" v-with="appData"></cmd-file>
        <cmd-prompt v-if="appData.file == null" v-with="appData"></cmd-prompt>
    </div>

    <script type="text/html" id="cmd-file-template">
        <div class="cmd-editor-container">
            <div class="cmd-editor">
                <autosize-textarea v-with="val: file.content" v-on="keydown: quitEditor | key esc,
                                                                    keydown: detectSaveCommand"></autosize-textarea>
            </div>
        </div>
    </script>

    <script type="text/html" id="cmd-prompt-template">
        <div class="cmd-container">
            <ul class="cmd-lines">
                <li class="cmd-line" v-repeat="tbl: lines">
                    <table class="cmd-table">
                        <tr v-repeat="row: tbl">
                            <td v-repeat="cell: row">{{cell}}</td>
                        </tr>
                    </table>
                </li>
            </ul>
            <div class="cmd-prompt">
                <autosize-textarea v-on="keydown: executeCmd | key enter,
                                     keydown: autoCompleteCmd | key tab,
                                     keydown: escCmd | key esc"
                                   v-with="val: currentCommand"></autosize-textarea>
            </div>
        </div>
    </script>

    <script src="js/vue.min.js"></script>
    <script src="js/plite.js"></script>
    <script src="js/fileSystem.js"></script>
    <script src="js/cmd.js"></script>
</body>
</html>
